@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Code
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sub Total
            </th>
        </tr>
    </thead>
    <tbody>

        @if (ViewBag.cart != null)
        {
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td>
                        <a class="btn btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.ProductId">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                        </a>
                    </td>
                    <td>
                        @item.Product.ProductId
                    </td>
                    <td>
                        @item.Product.ProductName
                    </td>
                    <td id="Price">
                        @item.Product.ProductPrice
                    </td>
                    <td>
                        @item.Product.ProductCode
                    </td>
                    <td>
                        <input onchange="updateLabel()" id="Quantity" type="number" min="1" step="1" max="@item.Product.ProductAvailability" value="@item.Quantity" class="form-control" /> from @item.Product.ProductAvailability
                    </td>
                    <td id="SubTotal">
                        @(item.Product.ProductPrice * item.Quantity)
                    </td>
                </tr>
            }
            <tr>
                <td align="right" colspan="7">Sum</td>
                <td>
                    @ViewBag.total
                </td>
            </tr>
        }

    </tbody>
</table>
<p class="text-danger">@ViewBag.ErrorMessage</p>

<br>
<a class="btn btn-default" asp-controller="Products" asp-action="Index">
    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Continue Shopping
</a>
<a class="btn btn-primary" asp-controller="Cart" asp-action="Leasing">
    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Leasing
</a>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">
        function updateLabel() {
            var Total = document.getElementById('Price').value * document.getElementById('Quantity').value;
            document.getElementById('SubTotal').innerHTML = Total.toString();
        }
    </script>
}
