@model IEnumerable<LeasingCore.Models.Product>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Cart" asp-action="Index">Cart</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order</li>
    </ol>
</nav>
<br />
@if (ViewBag.cart != null)
{
    <h2>Your order</h2>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ decimal totalSum = 0;
                        }
                        @foreach (var item in ViewBag.cart)
                        {
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        @foreach (var photo in Model.Where(x => x.ProductId == item.Product.ProductId))
                                        {
                                            @if (photo.PhotoProducts.Count > 1)
                                            {
                                                @foreach (var photo2 in photo.PhotoProducts.Where(p => p.ProductId == item.Product.ProductId))
                                                {
                                                    @if (photo2.PhotoProductIsDefault)
                                                    {
                                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@photo2.Photo.PhotoUrl" style="width: 72px; height: 72px;"> </a>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/emptyProduct.jpg" style="width: 72px; height: 72px;"> </a>
                                            }
                                        }
                                        <div class="media-body">
                                            <h4 class="media-heading"><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.ProductId">@item.Product.ProductName</a></h4>
                                            <h5 class="media-heading"> code <b>@item.Product.ProductCode</b></h5>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <h5>@item.Quantity</h5>
                                </td>
                                <td class="col-sm-2 col-md-2 text-center">
                                    <strong id="onePrice">
                                        @{
                                            decimal total = 0;

                                            total += item.Product.ProductPrice;

                                            foreach (var param in Model.Where(p => p.ProductId == item.Product.ProductId))
                                            {
                                                @foreach (var paramTotal in param.ProductAssortments.Where(p => p.ProductId == item.Product.ProductId))
                                                {
                                                    total += paramTotal.Assortment.AssortmentPrice;
                                                }
                                            }
                                        }
                                        @total PLN
                                    </strong>
                                </td>
                                <td class="col-sm-2 col-md-2 text-center"><strong id="@item.Product.ProductId">@(total * item.Quantity) PLN</strong></td>
                            </tr>
                            totalSum += total * item.Quantity;
                        }

                        <tr>
                            <td>
                                <a class="btn btn-default" asp-controller="Cart" asp-action="Index">
                                    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Return to cart
                                </a>
                            </td>
                            <td></td>
                            <td align="right"></td>
                            <td align="right" colspan="1">
                                <h3>
                                    Sum:
                                    @totalSum
                                    <br />
                                    <br />
                                    <a class="btn btn-primary" asp-controller="Cart" asp-action="Leasing">
                                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Leasing
                                    </a>
                                </h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="danger text-center">Your Order is empty!</h1>
}

<p class="text-danger">@ViewBag.ErrorMessage</p>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">
        function updateLabel() {
            var number = parseInt($(this).find('.Price').text(), 10);
            var number2 = parseInt($(this).find('.Quantity').text(), 10);

            var Total = number * number2;
            document.getElementById('SubTotal').innerHTML = Total.toString();
        }
    </script>
}
