@model IEnumerable<LeasingCore.Models.Leasing>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeasingStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeasingStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeasingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeasingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeasingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
