@model IEnumerable<LeasingCore.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="container">
    <div class="row text-center">
        <div class="col-sm-4 mi">
            <div class="box miniaturka">
               <a asp-controller="Products" asp-action="Index"> <img class="img-responsive" src="~/images/laptop-lenovo-thinkpad-e580-20ks007gpb_1250430_3710464_350x350w50.jpg" /></a>
                <h3>LAPTOPS</h3>
                <p>Minimum formalities. Quick decision.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box miniaturka">
                <a asp-controller="Products" asp-action="Index"><img class="img-responsive" src="~/images/monitor-lg-24mp88hv_657406_1707624_350x350w50.jpg" /></a>
                <h3>MONITORS</h3>
                <p> Search, compare prices and save!</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box miniaturka">
                <a asp-controller="Products" asp-action="Index"><img class="img-responsive" src="~/images/win10-photo.png" /></a>
                <h3>OS</h3>
                <p>Windows 10 is even better thanks to innovative and innovative solutions.</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container text-center">
    <h1>QUALITY</h1>
    <p>Discover the best Laptop Computers in Best Sellers</p>
</div>
<br />
<div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        @{
            int i = 0;
            foreach (var item in Model)
            {

                @if (i == 0)
                {
                    @Html.Raw("<div class=\"item active\">");
                }
                else
                {
                    @Html.Raw("<div class=\"item\">");
                }

                <p>
                    <div class="thumbnail" style=" width:900px; margin:0 auto; border:0;">
                        <div class="row">
                            <div class="col-xs-6">
                                @if (item.PhotoProducts.Count > 0)
                                {
                                    @foreach (var photoItem in item.PhotoProducts)
                                    {
                                        @if (photoItem.PhotoProductIsDefault)
                                        {
                                            <img src="@Url.Content(photoItem.Photo.PhotoUrl)" alt="" class="img-responsive" />
                                        }
                                    }
                                }
                                else
                                {
                                    <img src="~/images/emptyProduct.jpg" alt="" class="img-responsive">
                                }
                            </div>
                            <div class="col-xs-6">
                                <div class="caption">
                                    <h3 >
                                        <a class="label label-info" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </a>
                                    </h3>
                                    <h5 class="text-warning">
                                        @{
                                            decimal total = 0;

                                            total += item.ProductPrice;

                                            foreach (var param in item.ProductAssortments)
                                            {
                                                total += param.Assortment.AssortmentPrice;
                                            }
                                        }
                                        @total PLN
                                    </h5>
                                    <div class="row">
                                        <div class="col-xs-2 text-info">
                                            <h5>
                                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            @foreach (var itemAssortment in item.ProductAssortments)
                                            {
                                                <b>@Html.DisplayFor(modelAssortment => itemAssortment.Assortment.Param.ParamName)</b>
                                                <span class="text-primary">@Html.DisplayFor(modelAssortment => itemAssortment.Assortment.AssortmentName)</span>
                                                <br />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
                @if (i == 0)
                {
                    @Html.Raw("</div>");
                }
                else
                {
                    @Html.Raw("</div>");
                }
                i++;
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
