@model LeasingCore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<br />

<a class="btn btn-default" asp-action="Index">
    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Back to List
</a>
<div class="row">
    <div class="col-xs-5 item-photo">
        @foreach (var photoItem in Model.PhotoProducts)
        {
            @if (photoItem.PhotoProductIsDefault)
            {
                <img style="max-width:100%;" src="@Url.Content(photoItem.Photo.PhotoUrl)" alt="Image" />
            }
            else
            {
                <img style="max-width:33%;" src="@Url.Content(photoItem.Photo.PhotoUrl)" alt="Image" />
            }
        }
    </div>
    <div class="col-xs-4" style="border:0px solid gray">
        <h1 style="margin-top:0px;">@Html.DisplayFor(model => model.ProductName)</h1>
        <h5 style="color:#337ab7">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </h5>
        <div class="row">
            <div class="section col-lg-10" >
                <h6 class="title-attr">
                    <small>
                        @Html.DisplayNameFor(model => model.ProductCode):
                    </small>
                </h6>
                <div class="attr2 col-lg-1">
                    @Html.DisplayFor(model => model.ProductCode)
                </div>
            </div>
        </div>
        <div class="section" style="padding-bottom:5px;">
            @foreach (var item in Model.ProductAssortments)
            {
                <h6 class="title-attr"><small>@Html.DisplayFor(modelItem => item.Assortment.AssortmentName)</small></h6>
                <div>
                    @Html.DisplayFor(modelItem => item.Assortment.Param.ParamName)
                </div>
            }
        </div>
        <div class="section" style="padding-bottom:20px;">
            <h6 class="title-attr"><small>@Html.DisplayNameFor(model => model.ProductAvailability)</small></h6>
            <div>
                <input style="width:100px;" id="Quantity" type="number" min="1" step="1" max="@Model.ProductAvailability" class="form-control" /> from @Html.DisplayFor(model => model.ProductAvailability)
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <h2 style="margin-top:0px;">
            @Html.DisplayFor(model => model.ProductPrice) PLN
        </h2>
        <a class="btn btn-warning pull-right" asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.ProductId">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
        </a>
    </div>
</div>
<div style="width:100%;border-top:1px solid silver">
    <h2>Description</h2>
    <p style="padding:15px;">
        <small>
            @Html.DisplayFor(model => model.ProductDescription)
        </small>
    </p>
</div>