@model LeasingCore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Products" asp-action="Index">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<h2>Details</h2>
<br />

<a class="btn btn-default" asp-action="Index">
    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Back to List
</a>
<div class="row">
    <div class='list-group gallery col-xs-6 '>
        @if (Model.PhotoProducts.Count > 1)
        {
            @foreach (var photoItem in Model.PhotoProducts)
            {
                <div class="item-photo">
                    <a class="thumbnail fancybox" rel="ligthbox" href="@Url.Content(photoItem.Photo.PhotoUrl)">
                        @if (photoItem.PhotoProductIsDefault)
                        {
                            <img class="img-responsive" style="max-width:100%;" src="@Url.Content(photoItem.Photo.PhotoUrl)" alt="Image" />
                        }
                        else
                        {
                            <div class="col-xs-4">
                                <img class="img-responsive" style="max-width:100%;" src="@Url.Content(photoItem.Photo.PhotoUrl)" alt="Image" />
                            </div>
                        }
                    </a>
                </div>
            }
        }
        else
        {
            <img src="~/images/emptyProduct.jpg" alt="" class="img-responsive">
        }
    </div>

    <div class="col-xs-4" style="border:0px solid gray">
        <h1 style="margin-top:0px;">@Html.DisplayFor(model => model.ProductName)</h1>
        <h5 style="color:#337ab7">
            @Html.DisplayFor(model => model.Category.CategoryName) - <span class="text-info badge">@Html.DisplayFor(modelItem => Model.ProductAvailability) available </span>
        </h5>
        <div class="row">
            <div class="section col-lg-10">
                <h5 class="title-attr text-danger badge">
                    @Html.DisplayNameFor(model => model.ProductCode):
                </h5>
                <div class="attr2">
                    @Html.DisplayFor(model => model.ProductCode)
                </div>
            </div>
        </div>
        <div class="section" style="padding-bottom:5px;">
            @foreach (var item in Model.ProductAssortments)
            {

                <h5 class="title-attr"><small class="text-danger badge">@Html.DisplayFor(modelItem => item.Assortment.Param.ParamName)</small></h5>
                <div>
                    @Html.DisplayFor(modelItem => item.Assortment.AssortmentName)
                </div>
            }
        </div>
    </div>
    <div class="col-xs-2">
        <h2 style="margin-top:0px;">
            @{
                decimal total = 0;

                total += Model.ProductPrice;

                foreach (var param in Model.ProductAssortments)
                {
                    total += param.Assortment.AssortmentPrice;
                }
            }
            @total PLN
        </h2>
        <a class="btn btn-warning pull-right" asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.ProductId">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
        </a>
        <div class="section" style="padding-bottom:20px;">
            <div>
            </div>
        </div>
    </div>
</div>
<div style="width:100%;border-top:1px solid silver">
    <h2>Description</h2>
    <p style="padding:15px;">
        <small>
            @Html.DisplayFor(model => model.ProductDescription)
        </small>
    </p>
</div>

@section Scripts {
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
}