@model ReflectionIT.Mvc.Paging.PagingList<LeasingCore.Models.Product>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <div class="col-xs-12" id="sticky-sidebar">
                <h2>Filters</h2>
                @foreach (var item in ViewBag.ListOfCategories)
                {
                    <form method="get">
                        <button type="submit" name="categoryFilter" asp-for="@Model.RouteValue["categoryFilter"]" value="@item.CategoryId">
                            @item.CategoryName
                        </button>
                        <br />
                    </form>
                }
            </div>
        </div>
        <div class="col-xs-10" id="main">

            <h2>Products</h2>

            <p>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
                </button>
            </p>

            <form method="get" class="form-inline">
                <input name="filter" id="filterProduct" class="form-control" placeholder="Search for product"
                       value="@Model.RouteValue["Filter"]" />
                <select name="categoryFilter" asp-for="@Model.RouteValue["categoryFilter"]" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListOfCategories, "CategoryId", "CategoryName"))">
                    <option value="" selected>--- SELECT ---</option>
                </select>
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
                <select name="sortExpression" asp-for="@Model.RouteValue["sortExpression"]" class="form-control" onchange="this.form.submit();">
                    <option value="ProductName" selected>Product Name Asc</option>
                    <option value="-ProductName">Product Name Desc</option>
                    <option value="ProductPrice">Product Price Asc</option>
                    <option value="-ProductPrice">Product Price Desc</option>
                    <option value="Category.CategoryName">Category Name Asc</option>
                    <option value="-Category.CategoryName">Category Name Desc</option>
                </select>
            </form>

            <br />

            <nav aria-label="Suppliers navigation example">
                @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
            </nav>

            @*<table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.ProductId)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.ProductPrice)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.ProductAvailability)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.ProductCode)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Category.CategoryName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductAvailability)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductId">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                                </a>
                                @*<a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>*@
            @*<a class="btn btn-info" asp-action="Details" asp-route-id="@item.ProductId">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Details
                </a>*@
            @*<a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>*@
            @*</td>
                            </tr>
                        }
                    </tbody>
                </table>*@

            @foreach (var item in Model)
            {
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-3">
                            @if (item.PhotoProducts.Count > 1)
                            {
                                @foreach (var photoItem in item.PhotoProducts)
                                {
                                    @if (photoItem.PhotoProductIsDefault)
                                    {
                                        <img src="@Url.Content(photoItem.Photo.PhotoUrl)" alt="" class="img-responsive" />
                                    }
                                }
                            }
                            else
                            {
                                <img src="http://tech.firstpost.com/wp-content/uploads/2014/09/Apple_iPhone6_Reuters.jpg" alt="" class="img-responsive">
                            }
                        </div>
                        <div class="col-xs-7">
                            <div class="caption">
                                <h3>
                                    <a class="label label-info" asp-action="Details" asp-route-id="@item.ProductId">
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </a>
                                </h3>
                                <h4>
                                    @Html.DisplayFor(modelItem => item.ProductDescription)
                                </h4>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <h6>
                                            <b>@Html.DisplayNameFor(modelItem => item.ProductAvailability)</b>
                                        </h6>
                                    </div>
                                    <div class="col-xs-1">
                                        <h6>
                                            @Html.DisplayFor(modelItem => item.ProductAvailability)
                                        </h6>
                                    </div>
                                    <div class="col-xs-2">
                                        <h6>
                                            <b>@Html.DisplayNameFor(modelItem => item.ProductCode)</b>
                                        </h6>
                                    </div>
                                    <div class="col-xs-2">
                                        <h6>
                                            @Html.DisplayFor(modelItem => item.ProductCode)
                                        </h6>
                                    </div>
                                    <div class="col-xs-2">
                                        <h6>
                                            <b>@Html.DisplayNameFor(modelItem => item.Category.CategoryName)</b>
                                        </h6>
                                    </div>
                                    <div class="col-xs-2">
                                        <h6>
                                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="space-ten"></div>
                            <h4 class="pull-right">
                                @Html.DisplayFor(modelItem => item.ProductPrice) PLN
                            </h4>
                            <div class="btn-ground text-right">
                                <a class="btn btn-warning" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductId">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                                </a>
                            </div>
                            <div class="space-ten"></div>
                        </div>
                    </div>
                </div>
            }

            <nav aria-label="Suppliers navigation example">
                <vc:pager paging-list="@Model" />
            </nav>

        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#filterProduct').autocomplete({
                source: '/Products/Search'
            });
        });
    </script>
}
