@model LeasingCore.Models.ProductParam

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductParam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Param)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Param.ParamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductParamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
